conda create -n solidrPy python=3.8
conda activate solidrPy
conda config --env --add channels conda-forge
conda install numpy
conda install pandas
conda install -c anaconda scipy
pip install -U scikit-learn
conda install -c conda-forge matplotlib
conda install -c anaconda seaborn
# install spyder=5.0.1